.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid var(--text-color);
}

.searchIcon {
  fill: var(--text-color);
  color: var(--text-color);
}

.input::placeholder {
  color: var(--text-color);
}

.input {
  caret-color: var(--text-color);
  background-color: var(--background-color);
  outline: none;
  flex: 1;
  border: none;
  padding: 0;
  font-family: var(--main-font-family), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

.close {
  color: var(--text-color);
  cursor: pointer;
}

.wrapper:hover {
  outline: 1px solid var(--condition-color);
  cursor: text;
}

.wrapper:active {
  outline: 1px solid var(--condition-color);
  cursor: text;
}
